
{% extends 'layout/app.html' %}
{% load crispy_forms_tags %}

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="{% url 'market:market' %}">Home</a>
    <!-- <a class="breadcrumb-item" href="#"></a> -->
    <span class="breadcrumb-item active"></span>
</nav>

{% block body %}


  
  <div class="container">
       <div class="row ">
                <form method="post" action="" class="">
                        {% csrf_token %}
                     
                    <h4> ADD A NEW VISITING DATE TO {{market_name|upper}}</h4> <br>
                        <div class="form-group ">
                             
                                {{form|crispy}}                         
                            </div>
                            <button  type="submit" class="btn  mb-4 btn-outline-primary btn-block">Submit</button>
    
                    </form>
           </div>
                
  </div>
{% endblock %}